base/files/default/berks working-tree-encoding=UTF-8
base/files/default/pgloader_amd64 working-tree-encoding=UTF-8
base/files/default/pgloader_arm64 working-tree-encoding=UTF-8
base/files/default/zephir.phar working-tree-encoding=UTF-8